html {
	overflow: hidden;
	-ms-touch-action: none;
	-ms-content-zooming: none;
}
html *{
  font-family: "Arial Bold", sans-serif;
  font-weight: bold;
}
body {
	position: absolute;
	margin: 0;
	padding: 0;
	background: #000;
	width: 100%;
	height: 100%;
}
#screen {
	position: absolute;
	top: 20%;
	width: 100%;
	height: 70%;
	cursor: pointer;
	z-index: 0;
}

.row{
	background-color: white;
}
.container, #apiswf, #clickme{
	z-index: 2;
}

.container{
	height: 20%;
	width: 100%;
	margin: 0 auto;
	background-color: black;
	color: white;
	overflow: auto;
	display: inline-block;
}

#undo_drawing,#save_drawing,#clear_drawing,#load_drawing,#pause_drawing,#clickme, form, button{
	display: inline-block;
	/*	margin: 6px 0;*/
	text-align: justify;
  /*border-radius: 2px;*/
  /*-webkit-appearance: none;*/
}
#artist_name,#upbeat,#chill,{
	display: inline-block;
}

#well,#album-art,#controls,.options,#directions,.pace,
/*#upbeat,#chill,*/
/*#audio-info,#audio-controls,*/
#audio-footer,#track-time,#mute,#art_search, #log,#logo,#searchartist{
	display: inline-block;
}
#pause img,#next img{
	height: 40px;
	width: 40px;
}
#mute img{
	height: 40px;
	width: 40px;
}

#topest,#controls,.options{ 
	vertical-align: top;
}
.options button, .options form{
	vertical-align: 15px;
}
.pace{
	text-align: center;
}
.pace p{
	margin: 0 auto;
	color: grey;
}
/*.pace #chill, .pace #upbeat{
	height: 50px;
}*/
#upbeat,#chill{
	height: 35px;
}
.container img{
	height: 111px;
	width: 111px
}
select{
   	padding: 6px 15px 6px 6px;
   	/*width: 100px;*/
   	border: 1px solid #ebebeb;
   	/*border-radius: 2px;*/
   	-webkit-appearance: none;
   	background: url(../img/dropdown.png) no-repeat 92.5% #4d4d4d;
}
select img{
	margin-right: 5px;
}
#selColor, #filColor, #selLine{
	border-radius: 0;
}
#audio-info,#song-title,#artist-name{
	display: block;
  /*float:left;*/
}
#audio-controls,#pause,#next{
	display: inline-block;
}
#art_search,#controls,#audio-footer,.pace{
	padding-left: 2.5%;
	padding-right: 5px;
}

.options, .well {
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
	display: inline-block;
	text-align: center;
}
.options button,.options select {
  	color: #969696;
  	background-color: #ebebeb;
  	display: inline-block;
  	margin-right: 20px;
}
#searchartist{
	text-align: center;
}
#topest {
  margin: 0 auto;
  width: 95%;
  padding: 0 2.5%;
}
#logo{
	vertical-align: top;
}
#art_search,.pace,#controls{
	margin-top: 20px;
}
#art_search{
	vertical-align: 20px;
}
input[type="text"]{
	width: 255px;
	height: 25px;
	display: inline-block;
	margin: 0;
	padding: 0;
}
#art_search input[type="text"]{
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
}
#searchartist{
	margin: 0;
	padding: 0;
	width: 30px;
	height: 29px;	
	float: left;
}
button,select{
	text-decoration: none;
	border: none;
	background-color: #ebebeb;
	color: white;
	display: inline-block;
}
button {
  padding: 6px;
}
.options a{
  color:#fff;
}
#logo img{
  width: 238px;
  height: 55.5px;
}
#question img{
  width: 40px;
  height: 40px;
}

#audio-footer{
	position: absolute;
	top: 80%;
	left: 75%;

}
#log{
	position: absolute;
	top: 80%;
	left: 10%;

}
#log h3{
	font-family: helvetica;
	font-size: 2em;
	font-weight: thin;
	color: #7ccbed;
}
#log p{
	color: grey;
	margin-top: 50px;
	/*vertical-align: bottom;*/
}
#audio-footer #album-art, #audio-footer #art-search, #audio-footer #audio-info{
	display: inline-block;
}
#audio-footer #audio-info #song-title, #audio-footer #audio-info #artist-name, #audio-footer #audio-info #track-time{
	color: grey;
}